* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #f8f8f8;
}

.section {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px 40px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  font-family: "inter", sans-serif;
}

.close-button {
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin: 0 -8px 25px;
  transition: all 0.2s;
  border-radius: 50%;
}

.close-button img {
  width: 100%;
  height: 100%;
}

.close-button:hover {
  background-color: #f5f5f5;
}

.header {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.header-selected {
  display: flex;
  flex-direction: column;
  gap: 0;
  cursor: pointer;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: -30px;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
}

.header-underline {
  border: none;
  border-bottom: 2px solid #000;
}

.header-item {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.5);
  transition: color 0.2s;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.header-item:hover {
  color: #000;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.content-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.item-selected {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #000000;
  padding: 13px 14px;
  border-radius: 10px;
  gap: 3px;
  transition: all 0.2s;
  border: 2px solid #000;
  background-color: #fff;
}

.item-selected:hover {
  background-color: #f5f5f5;
}

.item {
  display: flex;
  gap: 3px;
  flex-direction: column;
  cursor: pointer;
  color: #000000;
  padding: 13px 14px;
  border-radius: 10px;
  transition: all 0.2s;
  border: none;
  background-color: #fff;
}

.item:hover {
  background-color: #f5f5f5;
}

.name {
  font-weight: 600;
  font-size: 15px;
}

.code {
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
}

.hidden {
  display: none;
}
